{% extends "base.html" %}
{% block head_title %}Войти{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Войти на сайт
        </div>
        <div class="card-body">
          {% include 'includes/form_error.html' %} 
          <form method="post"
            {% if "../auth/login.html" %}
              action="{% url 'users:login' %}"
            {% endif %}>
          {% csrf_token %}
          {% for field in form %}
            {% include 'includes/form_field.html' %} 
          {% endfor %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Войти
            </button>
            <a href="{% url 'users:password_reset' %}" class="btn btn-link">
              Забыли пароль?
            </a>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
